{% extends 'customer/customer_master.html' %}

{% load static %}

{% block content %}
<br><br><br>
<section class="changePassword">
<form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Current Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="current_password"><br>
    </div><br><br>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="new_password"><br>
      </div><br><br>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password"><br>
      </div><br><br>
    <button type="submit" class="btn btn-success">Submit</button>
    {{msg}}
  </form>
</section>
<br><br><br>

{% endblock %}