{% extends 'customer/customer_master.html' %}

{% load static %}

{% block content %}

<div class="text-center p-4">
    <h1>MY ORDERS</h1>
</div>
<div class="container">
<div class="row">
    
    <div class="">
        <table class="table">
            <thead>
            <th>Sl.no</th>
            <th>Product Name</th>
            <th>Discription</th>
            <th>Quantity</th>
            <th>price</th>
            <th> Order Status</th>
            </thead>
            <tbody>
            <tr class="table-active">
            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
{% endblock %}