{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller change password</title>
    <link rel="stylesheet" href="{% static 'css/sellerhome.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/01741b9219.js"></script>
    <style>
      *{
      padding: 2px;
      margin: 20px;
      /* box-sizing: border-box; */
      }
      body{
          background: rgb(70, 123, 154);
      }
      </style>
</head>
<body>
    <section class="changePassword" style="background-color:  rgb(70, 123, 154);">
        <form method="POST">
          {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Current Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="current_password"><br>
            </div><br><br>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="new_password"><br>
              </div><br><br>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password"><br>
              </div><br><br>
            <button type="submit" class="btn btn-success">Submit</button>
            {{msg}}
          </form>
        </section>
        <br><br><br>
</body>
</html>